.centerLogin {
  padding-top: 20vh;
}

.centerError404 {
  padding-top: 15vh;
}

.colorLogin {
  background-color: #fcfcfc !important;
  background-image: url(./App/helpers/img/grafica.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 80% 20%;
}
.colorBody {
  background-color: rgb(255, 240, 240);
}

.colorBodyLogin {
  background-color: rgb(197, 188, 188);
  background-image: url(./App/helpers/img/grafica_login.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 50%;
}
.colorBodyError404 {
  background-color: rgb(228, 213, 213);
}
.colorNavbar {
  background-color: rgb(255, 95, 95) !important;
}

.salir {
  min-width: 80px !important;
}

.botonesTabla {
  position: fixed;
  bottom: 5%;
  left: calc(50vw - 40px);
}

.iconoChecked {
  font-size: 140%;
  cursor: pointer;
  background-color: white;
}

.iconoPermiso {
  cursor: pointer;
  background-color: white;
}

.iconoBorrar {
  cursor: pointer;
  color: red;
}

.iconoEdit {
  cursor: pointer;
  color: blue;
}
.textAreaModificar {
  padding: 0px;
  resize: horizontal;
  transform: scale(0.9);
  position: relative;
  top: 4px;
}

.iconoCancelModificar {
  cursor: pointer;
  color: red;
  position: relative;
}

.iconoOkModificar {
  cursor: pointer;
  color: blue;
  position: relative;
}

.is-invalidM {
  background-color: red;
  color: white;
}
